.navbar {
    width: 280px;
    min-height: 100vh;
    flex-basis: 280px;
}

.navbarWrapper {
    height: 100%;
    padding: 1.5rem;
}

.logoWrapper {
    margin-bottom: 80px;
}

.logoTitle {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 24px;
    letter-spacing: -0.02em;
}

.buttonsMenu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
}

.menuLinkWrapper {
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
}

.menuLink {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-decoration: none;
    color: black;
}

.checked a {
    font-weight: 700;
}